.App{
  text-align: center;
  display: block;
  justify-content: center;
}
.card{
  width: 450px;
  height: 600px;
  border: 10px solid #45A63D; 
  background-color: white;
  display: inline-block;
}

.card-body{
  height: 100%;
  width: 100%;
  display: block;
}
.orange-border{
  height: calc(100% - 19px);
  width: calc(100% - 19px);
  display: block;
  border: 10px solid #EF7F22;
}

.red-border{
  height: calc(100% - 19px);
  width: calc(100% - 19px);
  display: block;
  border: 10px solid #CE2628;
}

p.card-text {
  height: 20px;
  overflow: hidden;
}

.logo-container{
  text-align: center;
  width: 240px;
  margin: 20px auto 10px;
}

.psd-container {
  border-top: 7px solid #45A63D;
  border-bottom: 7px solid #45A63D;
  text-align: center;
  width: 300px;
  margin: 0 auto 10px;
  padding-top: 8px;
  padding-bottom: 5px;
}

.guest-name{
  font-size: 36px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  height: 72px;  
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 20px 5px 5px;
}

.organization{
  font-size: 24px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  height: 66px;  
  margin: auto 5px;
}

.title-container{
  font-size: 30px;
  height: 3em;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
}
.title{
  font-size: 80%;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  line-height: 0.9;
}

.sector-container{
  padding: 12px;
  background: #CE2628;
  margin: 0;
  margin-top: -48px;
}

.sector{
  font-size: 28px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: #CE2628;
  line-height: 1;
  color: white;
}

.footer-container{
  position: relative;
  height: 40px;
  padding: 10px;
}

.ifc-logo{
  position: absolute;
  left: 10px;
  width: 110px;
}

.zambia-logo{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: auto;
  width: 60px;
}

.netone-logo{
  position: absolute;
  right: 10px;
  width: 120px;
  top: 50%;
  height: auto;
}
img {
  width: 100%;
  height: 100%;
}